<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.eduspaceandroid.cursoandroid.eduspace">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.AgendamentoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CadastroUsuarioActivity" />
        <activity android:name=".Activity.ConsultaActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.CadastroActivity" />
        <activity android:name=".Activity.LoginActivity"/>
        <activity android:name=".Activity.CadastroCursoActivity" />
        <activity android:name=".Activity.SlidingTabSalaActivity" />
        <activity android:name=".Activity.ConsultarCursoActivity" />
        <activity android:name=".Activity.CadastroSalaActivity"></activity>
    </application>

</manifest>